In [2]:
import pandas as pd

In [9]:
#import data
url = 'https://statbel.fgov.be/sites/default/files/files/opendata/bevolking%20naar%20woonplaats%2C%20nationaliteit%20burgelijke%20staat%20%2C%20leeftijd%20en%20geslacht/TF_SOC_POP_STRUCT_2022.zip'
df = pd.read_csv(url, sep='|', encoding = "ISO-8859-1")
#delete columns in french
df = df.drop(['TX_ADM_DSTR_DESCR_FR','TX_DESCR_FR', 'TX_RGN_DESCR_FR', 'TX_PROV_DESCR_FR', 'TX_NATLTY_FR', 'TX_CIV_STS_FR' ], axis=1)

In [40]:
df.head()

,CD_REFNIS,TX_DESCR_NL,CD_DSTR_REFNIS,TX_ADM_DSTR_DESCR_NL,CD_PROV_REFNIS,TX_PROV_DESCR_NL,CD_RGN_REFNIS,TX_RGN_DESCR_NL,CD_SEX,CD_NATLTY,TX_NATLTY_NL,CD_CIV_STS,TX_CIV_STS_NL,CD_AGE,MS_POPULATION
0,11001,Aartselaar,11000,Arrondissement Antwerpen,10000.0,Provincie Antwerpen,2000,Vlaams Gewest,M,ETR,niet-Belgen,4,Gescheiden,56,1
1,11001,Aartselaar,11000,Arrondissement Antwerpen,10000.0,Provincie Antwerpen,2000,Vlaams Gewest,F,BEL,Belgen,4,Gescheiden,49,12
2,11001,Aartselaar,11000,Arrondissement Antwerpen,10000.0,Provincie Antwerpen,2000,Vlaams Gewest,F,BEL,Belgen,4,Gescheiden,61,17
3,11001,Aartselaar,11000,Arrondissement Antwerpen,10000.0,Provincie Antwerpen,2000,Vlaams Gewest,M,BEL,Belgen,4,Gescheiden,35,4
4,11001,Aartselaar,11000,Arrondissement Antwerpen,10000.0,Provincie Antwerpen,2000,Vlaams Gewest,M,BEL,Belgen,4,Gescheiden,31,3

# Leeftijdspiramide

In [52]:
leeftijd_per_geslacht = pd.pivot_table(df, index='CD_AGE', columns='CD_SEX', values='MS_POPULATION', aggfunc='sum').reset_index()
leeftijd_per_geslacht.rename(columns = {'CD_AGE':'Leeftijd', 'F':'Vrouw', 'M':'Man'}, inplace = True)
leeftijd_per_geslacht.set_index("Leeftijd", inplace=True)
leeftijd_per_geslacht.to_csv('Bevolkingsaantal_per_leeftijd_geslacht.csv')
leeftijd_per_geslacht

CD_SEX,Vrouw,Man
Leeftijd,,
0,57716,60336
1,56206,58849
2,58376,60502
3,59102,61588
4,59853,62564
...,...,...
96,4803,1495
97,3395,932
98,2294,565
99,1508,347
100,2138,423

# Bevolkingsaantal per gemeente

In [50]:
bevolking_per_gemeente = pd.pivot_table(df, index=["TX_DESCR_NL", "CD_REFNIS"], values='MS_POPULATION', aggfunc='sum').reset_index()
bevolking_per_gemeente.rename(columns={"TX_DESCR_NL":"Gemeente", "MS_POPULATION": "Aantal", "CD_REFNIS":"NSI-code"}, inplace=True)
bevolking_per_gemeente.to_csv('bevolkingsaantal_per_gemeente.csv')

In [51]:
bevolking_per_gemeente

,Gemeente,NSI-code,Aantal
0,Aalst (Aalst),41002,88854
1,Aalter,44084,29340
2,Aarlen,81001,30818
3,Aarschot,24001,30594
4,Aartselaar,11001,14610
...,...,...,...
576,Zutendaal,71067,7307
577,Zwalm,45065,8244
578,Zwevegem,34042,25140
579,Zwijndrecht,11056,19243
580,s Gravenbrakel,55004,22752

In [56]:
bevolking_per_gemeente_geslacht = pd.pivot_table(df, index=["TX_DESCR_NL", "CD_REFNIS"], columns="CD_SEX", values='MS_POPULATION', aggfunc='sum').reset_index()
bevolking_per_gemeente_geslacht.rename(columns={"TX_DESCR_NL":"Gemeente", "MS_POPULATION": "Aantal", "CD_REFNIS":"NSI-code", "F":"Vrouw", "M":"Man"}, inplace=True)
bevolking_per_gemeente_geslacht.to_csv('bevolkingsaantal_per_gemeente_geslacht.csv')
bevolking_per_gemeente_geslacht

CD_SEX,Gemeente,NSI-code,Vrouw,Man
0,Aalst (Aalst),41002,45277,43577
1,Aalter,44084,14608,14732
2,Aarlen,81001,15424,15394
3,Aarschot,24001,15599,14995
4,Aartselaar,11001,7368,7242
...,...,...,...,...
576,Zutendaal,71067,3636,3671
577,Zwalm,45065,4167,4077
578,Zwevegem,34042,12677,12463
579,Zwijndrecht,11056,9791,9452
580,s Gravenbrakel,55004,11580,11172